body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #111111;
    color: white;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
}

#speed {
    width: 400px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }